apps/n8n/workflows/02-ai-tagging.json
{
  "name": "02 - AI Tagging",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "photo-processed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Photo Processed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "photo-processed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"photoId\": $json.photoId, \"aiTags\": $json.aiTags } }}"
      },
      "id": "send-success-response",
      "name": "Send Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "photoId",
              "value": "={{ $json.photoId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "backendUrl",
              "value": "http://host.docker.internal:8080"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.backendUrl }}/api/photos/{{ $json.photoId }}/file",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "fetch-photo",
      "name": "Fetch Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4-vision-preview",
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": [
                {
                  "type": "text",
                  "text": "Analyze this image and provide relevant tags, description, and categories. Return a JSON object with: tags (array of strings), description (string), categories (array of strings), confidence (number 0-1)."
                },
                {
                  "type": "image_url",
                  "image_url": {
                    "url": "={{ $binary.data }}"
                  }
                }
              ]
            }
          ]
        }
      },
      "id": "openai-vision",
      "name": "OpenAI Vision API",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [850, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const aiResponse = item.json.choices?.[0]?.message?.content;\n    if (!aiResponse) {\n      results.push({\n        json: {\n          ...item.json,\n          aiTags: {},\n          error: 'No AI response'\n        }\n      });\n      continue;\n    }\n    \n    // Parse AI response (assuming JSON format)\n    let aiData;\n    try {\n      aiData = JSON.parse(aiResponse);\n    } catch (e) {\n      // If not JSON, create tags from text\n      aiData = {\n        tags: aiResponse.split(/[,\\s]+/).filter(t => t.length > 0),\n        description: aiResponse,\n        categories: [],\n        confidence: 0.8\n      };\n    }\n    \n    results.push({\n      json: {\n        ...item.json,\n        aiTags: {\n          tags: aiData.tags || [],\n          description: aiData.description || '',\n          categories: aiData.categories || [],\n          confidence: aiData.confidence || 0.8,\n          source: 'openai_vision',\n          generatedAt: new Date().toISOString()\n        }\n      }\n    });\n  } catch (error) {\n    results.push({\n      json: {\n        ...item.json,\n        aiTags: {},\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.backendUrl }}/api/photos/{{ $json.photoId }}/ai-tags",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "aiTags",
              "value": "={{ JSON.stringify($json.aiTags) }}"
            }
          ]
        },
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "update-ai-tags",
      "name": "Update AI Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook - Photo Processed": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Fetch Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Photo": {
      "main": [
        [
          {
            "node": "OpenAI Vision API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision API": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Update AI Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update AI Tags": {
      "main": [
        [
          {
            "node": "Send Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "1"
}

